/*
		_main.scss	
*/

/*
											--- Variables ---
*/

$color-1: #2678b7;// BLUE
//$color-2: #040a23;// DARK-BLUE
$color-2: darken(#05123a, 0%);// DARK-BLUE
$color-3: #5FC6F1;// 
$color-4: #E4097F;//

$font-family-1: "Open Sans";
$font-family-2: Days;
//$font-family-3: "EseninscriptTwo";
$color-scroll: rgba(white, 0.5);
$color-footer: #0071BC;

$color-gray-1: #848484;
$color-gray-2: #FAFAFA;
$color-gray-3: #212121;

$easeQua: cubic-bezier(0.25, 0.46, 0.45, 1);
$inOutBack: cubic-bezier(0.68, -0.55, 0.27, 1.55);

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}
@mixin modal-center($width, $height) {
	width: $width;
   height: $height;
   margin-left: -+($width/2);
   margin-top: -+($height/2);
  left: 50%;
	top: 50%;
}

@mixin img-circle($width, $height, $mwidth: 120%) {
	.img-circle{
		position: relative;
		overflow: hidden;
		img{
			max-width: $mwidth;
		}
		width: $width;
		height: $height;
	}
}

@mixin table-celling($height) {

	display: table-cell;
	height: $height;
	//padding-left: $padding;
	//padding-right: $padding;
	vertical-align: middle;

}
@mixin table-cellingAdap() {

	@media only screen and ( max-width:991px ){
		display: block;
		height: auto;
		width: 100%;
	}

}

/*
									 --- BOOTSTRAP ---
*/

.panel-default{
	//background-color: $color-3;
	*, &{
		//border: 0 ;
		//border-color: $color-1;
		border-radius: 0 !important;
	}
	.panel-heading{
		//background-color: $color-2;
		background-color: transparent;

		padding: 0;
		.panel-title{
			text-transform: none;
			a{
				display: inline-block;
				width: 80%;
				padding: 15px;
			}
			i, span{
				display: inline-block;
				width: 5%;
				font-size: em(20, 16);
				vertical-align: middle;
				//float: right;
			}
			span{
				font-size: 1em;
			}
		}
	}
	.panel-body{
		padding: 15px 30px;
	}
	li{
		margin: 15px 0;
	}
}



/*
									 --- HTML ---
*/

[class*="col"]:not([class*='p']){
	padding-left: 0;
	padding-right: 0;
}


@media (min-width: 992px){
	[class*='pie-md'], [class*='pie-lg']{
		display: table-cell;
		vertical-align: middle;
	}
}

@media (min-width:768px){

	@for $i from 0 through 12{
		.pie-xs-#{$i}{
			width: ( 0.0 + ($i/12) )+% ;
			display: table-cell;
			vertical-align: middle;
		}
	}

}

@media (min-width:992px){

	@for $i from 0 through 12{
		.pie-md-#{$i}{
			width: ( 0.0 + ($i/12) )+% ;
			display: table-cell;
			vertical-align: middle;
		}
	}

}

@media (min-width:1200px){

	@for $i from 0 through 12{
		.pie-lg-#{$i}{
			width: ( 0.0 + ($i/12) )+% ;
			display: table-cell;
			vertical-align: middle;

		}
	}

}

// --- SCROLLING
::-webkit-scrollbar{
	width:20px;
	position: absolute;
}
 ::-webkit-scrollbar-thumb{
 	border-radius: 1px;
 	z-index: 500;
	background-color: rgba($color-scroll, 0.5);
	
	background: linear-gradient(to right, rgba(white, 0) 50%,
																				rgba(white,0.5) 60%,
																				rgba(white, 0) 50%);
/*  
	border-radius: 10px; 
	background: radial-gradient(circle closest-side, rgba(white,0.7) 10px, 
                    rgba(white,0) 11px, rgba(white,0) 30px, transparent 31px); 
*/
}
::-webkit-scrollbar-thumb:hover{
	background: linear-gradient(to right, rgba(white, 0) 50%,
																			rgba(white,1) 60%,
																			rgba(white, 0) 50%);
} 
::-webkit-scrollbar-thumb:active{
	background: linear-gradient(to right, rgba(white, 0) 50%,
																			rgba(white,1) 60%,
																			rgba(white, 0) 50%);
}
::-webkit-scrollbar-track-piece{
	background-color: rgba(white, 0);
}
// OPERA
::-o-scrollbar{
	width:5px;
	position: absolute;
}
::-o-scrollbar-thumb{
	z-index: 500;
	border-radius: 1px;
	background-color: rgba($color-scroll, 0.5);
}
::-o-scrollbar-thumb:hover{
	background: linear-gradient(to right, rgba(white, 0) 50%,
																			rgba(white,1) 60%,
																			rgba(white, 0) 50%);
} 
::-o-scrollbar-thumb:active{
	background: linear-gradient(to right, rgba(white, 0) 50%,
																			rgba(white,1) 60%,
																			rgba(white, 0) 50%);
}
::-o-scrollbar-track-piece{
	background-color: rgba(white, 0.5);
}
::selection {
    background: $color-2;
    color:$color-1;
    text-shadow: none;
 }
html{
	-ms-scrollbar-track-color: rgba(0, 0, 0, 0);
	-ms-scrollbar-face-color: $color-scroll;
	-ms-scrollbar-shadow-color: $color-scroll;
	-ms-scrollbar-base-color: lighten($color-scroll, 0%);

	-ms-scroll-translation: vertical-to-horizontal;
	-ms-scroll-snap-type: mandatory;
	-ms-scrollbar-3dlight-color: $color-scroll;
	-ms-scrollbar-darkshadow-color: darken($color-scroll, 0%);
	-ms-scrollbar-highlight-color: transparent;
}

body{
	//overflow-y: hidden;
	-ms-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
	font: 14px $font-family-1;
	//color: white;
	height: auto !important;
	background-color: #121527;
}


p, li, ul, menu{
	margin: 0;
	padding: 0;
	vertical-align: middle;
}
menuitem{
	display: inline-block;
}
a{
	transition: color 0.2s ease-in-out;
	color: inherit;
}
a:hover, a:active, a:focus{
	text-decoration: none;
}
button:hover, button:active, button:focus{
	outline: 0;
}
button{
	outline: 0;
}
p{
	margin: auto;
	line-height: 110%;
}
img{
	max-width: 100%;
	outline: 0;
}
h1,h2,h3,h4,h5{
	color: inherit;
	line-height: 160%;
}
h1, h2{
	font-family: $font-family-2;
}
h4{
	font-size: em(14, 16);
}
h3{
	font-size: em(18, 16);
}
h2{
	font-size: em(24, 16);
}
h1{
	font-size: em(36, 16);

}
article{
	ol{
		margin-top: 15px;
	}
}
ul{
	position: relative;
	list-style: none;
	&:hover{
		cursor: default;
	}
}
input:focus, button:focus{
	outline: transparent;
}
b{
	font-weight: 600;
}
strong{
	font-weight: 700;
}
button:hover, button:focus{
	cursor: pointer;
}


.bg-cover{
	position: relative;
	opacity: 1;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.color-white{
	color: white;
}
.color-black{
	color: black;
}

.color-gray{
	color: $color-gray-1;
}

.color-1{
	color: $color-1;
}
.color-2{
	color: $color-2;
}
.color-3{
	color: $color-3;
}
.color-4{
	color: $color-4;
}


.font-family-1{
	font-family: $font-family-1;
}
.font-family-2{
	font-family: $font-family-2;
}

.bg-color-white{
	background-color: white;
}
.bg-color-black{
	background-color: #333;
}

.bg-color-1{
	background-color: $color-1;
}
.bg-color-2{
	background-color: $color-2;
}
.bg-color-3{
	background-color: $color-3;
}
.bg-color-4{
	background-color: $color-4;
}

.claf{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

[class*="btn"]{
	&:focus, &:active{
		outline: none;
	}
}
.btn-res{
	background: transparent;
	border: 0;
	padding: 0;
}
.btn-anima{
	position: relative;
	transition:all 0.2s ease-in-out; 
	overflow: hidden;
	&:before{
		z-index: -1;
		@extend .claf;
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		bottom: 0;
		right: 0;
		transition:all 0.4s cubic-bezier(0.25, 0.46, 0.45, 1); 
	  transform: translateX(-100%);
		//visibility: hidden;
		background-color: $color-1;
		border-color: $color-1;
	}
	&:hover::before{
		z-index: -1;
		@extend .claf;
		width: 100%;
		height: 100%;
		left: 0;
		bottom: 0;
		right: 0;
		transform: none;
		visibility: visible;
	}
	&:hover{
		color: white;
	}
}

.btn-style{
	@extend .btn-res;	
	display: inline-block;
	white-space: nowrap;
	text-transform: uppercase;
	text-align: center;
	border-radius: 30px;
	font-family: $font-family-1;
	border: 1px solid;
	a, .clc{
		line-height: normal;
		padding: 10px 25px;
		display: block;
		position: relative;
	}
	i{
		vertical-align: middle;
	}

}

.btn-def{
	@extend .btn-style;
	@extend .btn-anima;
	font-size: 0.9em;
	z-index: 1;
	font-weight: 600;
	width: 250px;
	&:hover{
		border-color: $color-1;
	}
}

.btn-opacity{
	@extend .btn-style;
	display: inline-block;
	
	border: 1px solid $color-1;
	a{
		color: white;
		border-radius: 15px;
		//color: $color-1;
	}
	background-color: transparent;
}



.link-anima{
	position: relative;
	transition:all 0.2s ease-in-out; 
	&::before{
		//z-index: -1;
		@extend .claf;
		width: 0%;
		height: 1px;
		top: none;
		bottom: 1px;
		border-radius: 15px;
		position: absolute;
		transition:all 0.225s ease-in-out; 
		visibility: hidden;
	}
	&:hover{
		width: 100%;
	}
	&:hover::before{
		@extend .claf;
		width: 100%;
		height: 1px;
		visibility: visible;
	}
}

.text-style-1{
	text-transform: uppercase;
	font-weight: 600;
	color: $color-1;
}




.pagination-div{

	.pagination{

		li{
			display: inline-block;
			border-radius: 5px;
			&:hover{
				a{
					color: $color-1;
				}
			}
			a{
				border:1px solid transparent;
				color: white;
				border: 0;
				background-color: transparent;

			}
			&.active{
				&:hover{
					a{
						cursor: pointer;
						background-color: transparent;
					}
				}
				a{
					background-color: transparent;
				}
				border:1px solid $color-1;
			}
		}
	}
}
@media (min-width: 992px ){
	.pagination-div{
		position: fixed;
    left: 0;
    bottom: 80px;
    //margin-left: -7px;
	}
	.pagination{
		margin: 0;
	}
}
//LISTING

[class*='list-style']{
	ul{
		padding: 0 15px;
		margin: 15px auto;
	}
	li{
		margin: auto 15px;
		list-style: disc;
		line-height: 170%;
		list-style-position: outside;
	}
}


.list-style-1{

	ul{
		
	}
	li{
		list-style-type: square;
		list-style-position: inside;
		color: $color-1;
		font-size: 1.5em;
		line-height: 100%;
		margin: 10px 0;
		*{
			vertical-align: middle;
			color: white;
			font-size: 0.65em;
		}
	}

}



.list-style-2{
	ul{
		padding-left: 15px;
		position: relative;
		margin-top: 15px;
		li{
			padding: 0 15px;
			padding-top: 15px;
			font-style: oblique;
			font-weight: 600;
			list-style: none;
			list-style-position: outside;
			list-style-image: url('../img/icons/list-icon.png');
		}
	}
}


#page{
	left: 0%;
	position: relative;
	&.in{
		.line-item{
			
		}
		.line-full{
			animation: menuLineFullIn 6s ease-in-out 1;
		}
	}
}


/*
										 --- HEADER ---
*/

$header-height: 100px; 
//$header-height-2: 170px; 

#header{
	top: 0;
	z-index: 100;
	right: 0;
	left: 0;
	font-family: $font-family-1;
	position: absolute;
	color: white;
}
.header-hidden{
	display: none;
}
.main-navbar{

}


.logo {
	&, span{
		vertical-align: middle;
	}
  img{
		width: 70px;
		//display: none !important;
	}
	span{
		display: inline-block;
		font-weight: 500;
		text-transform: uppercase;
		font-family: $font-family-2;
		margin-left: 15px;
		width: 40%;
		line-height: 150%;
	}
  & > a{
  	&:focus{
  		outline: 0;
  	}
  }
  @media (max-width:1199px){
  	img{
  		width: 50px;
  	}
  	text-align: center;
  	span{
	    font-size: 0.9em;
	    display: block;
	    margin: auto;
	    margin-top: 5px;
	    width: 90%;
	    text-align: center;
  	}
  }
}
.skin-header-top{

}
.skin-header-bottom{

}

.logo, .main-navbar, .header-tel, .header-social{
	@include table-celling( $header-height );
	@include table-cellingAdap();
}





.nav-menu:not(.min){
	position: relative;
	text-align: right;
  margin: auto auto;
  //padding: 0 2.5%;
	a{
		display: block;
		z-index: 1;
		font-weight: 600;
		padding: 20px 12px;
		
	}
	li{
		display: inline-block;
		//margin: 0px 10px;
		&:last-child{
			//margin-right: 0;
		}
		&:first-child{
			//margin-left: 0;
		}
	}
	li, a{
		color: inherit;
		position: relative;
	}

	.menu-list{
		display: inline-block;
		 a{
		 	&:hover{
		 		color: $color-1;
		 	}
		 }
	}

	[class*="sub-menu"]{
		position: absolute;
		width: max-content;
		visibility: hidden;
		opacity: 0;
		font-weight: normal;
    font-size: 0.9em;
    transition: all 0.2s ease-in;
		i{
			transition: all 0.2s ease-in;
			font-size: em(28, 16);
			margin-left: 20px;
			position: absolute;
			color: rgba(white, 0.7);
		}
		&:hover{
			i{
				transform: matrix(-1, 0, 0, 1, 30, 0);
			}
		}
		li{
			border-left: 1px solid transparent;
			border-right: 1px solid transparent;
			transition: all 0.3s ease-in-out;
			border-radius: 0;
			position: relative;
			padding: 0 10px;
			text-align: left;
			overflow: hidden;
			font-weight: 600;
			color: $color-1;

			&:last-child{
				border-bottom: 0;
				margin: 0;
			}
			&:hover, &:focus{
				& > a{
					color: $color-1;
				}
			}
		}
		a{
			color: $color-1;
			padding: 5px 10px;
		}
		a:hover:before{
				transform: scaleX(1);
				visibility: visible;
				border-radius: 10px;
		}
		a:before{
			content: ""; 
	    width: 100%;
	    height: 100%;
	    //background-color: rgba( lighten($color-1, 5%), 0.2 );
	    border-bottom: 1px solid;
	    position: absolute;
	    left: 0;
	    bottom: 0;
	    right: 0;
	   	transition: all 0.15s ease-in-out;
	    transform: scaleX(0);
	    visibility: hidden;
		}


	}

	.sub-menu-1{
		 padding-bottom: 10px;
		&:first-child{
			padding-top: 5px;
		}
		perspective: 500px;
		transform-style: preserve-3d;
		//transform: scale(0.75) perspective(500px) rotateX(-75deg);
		transform: matrix(1, 0, 0, 1, 0, -20);
		transform-origin: 40% 0;
		z-index: 1;
		li{
			//margin-bottom: 5px;
			&:hover, &:focus{
				.sub-menu-2{
					transform: inherit;
					visibility: visible;
					opacity: 1;
				}
			}
		}

	}



}// END NAVMENU
@keyframes menuLineFullIn{
  from {
    stroke-dashoffset: 100%;
    stroke-dasharray: 20%;
  }
  80%{
  	stroke-opacity: 1;
    stroke-dashoffset: -170%;
    stroke-dasharray: 100%;
  }
  to {  
		stroke-dashoffset: -350%;
    stroke-dasharray: 200%;
    stroke-opacity: 0.5;
  }
}

.menu-border{
  position: absolute;
  width: 70%;
  height: 1px;
  right: 0;
  bottom: 0;
	.line-full{
    position: absolute;
    height: 100%;
    width: 100%;
    right: 0;
		stroke-dashoffset: 100%;
		stroke-dasharray: 250%;
		stroke: white;
		stroke-width: 1px;
		stroke-opacity: 0.5;
		transition: stroke-opacity 0 linear 0;
    line{

    }
	}
	.line-item{
    position: absolute;
    height: 100%;
    width: 0%;
    right: 0;
    left: -20%;
    opacity: 0;
  	stroke: $color-1;
    stroke-width: 10px;
    transition: all 0.3s linear;
    stroke-dasharray: 650;
    stroke-dashoffset: 0;
    &.active, &.router-link-active{
    	opacity: 1;
    }
	}
}




//MINI MENU
.min-menu{
  z-index: 2100;
  position: relative;
  height: 100%;
  width: 100%;
  display: block;
  [class*="bg-black"]{
  	height: 100px;
  }
  .bg-black{
    background: rgba($color-2, 1);
    box-shadow: inset 0px -5px 0px -5px #2678b7;
    opacity: 1;
    transition: all 0.3s ease-in-out;
    width: 100%;
    position: fixed;
    top: 0;
  }
  &.scrolled{
  	.bg-black{
  		background: rgba($color-2, 1);
  		box-shadow: inset 0px 0px 50px 0px #2678b7;
  	}
  }
}

label.hamburger{
  height: 45px;
  width: 45px;
  top: 28px;
  right: 40px;
	& > i{
		background-color: $color-3;
		&, &:before, &:after{
			height: 5px;
		}
		&:before{
			background-color: $color-3;
		}
		&:after{
			background-color: $color-3;
		}
	}
	text{
		open, close{
			margin-left: -5px;
			overflow: none;
		}
	}
}
.drawer-list{
	overflow: hidden;
	padding-top: 100px;
	width: 100vw;
	perspective: 50vw;
	hr{
		visibility: hidden;
	}
	ul{
		margin-top: 15px;
		height: auto;
	}
//	background-color: rgba($color-2, 1);
	li a{
		color: white;
		font-weight: 600;
		&:hover{ 
			background-color: $color-1;
		}
	}
}
.min-menu-skin{
	height: 100%;
	overflow: auto;
	pointer-events: all;
  padding: 15px 0;
  background-color: rgba($color-2, 0.8);
  
 perspective-origin: top right;
 transform: rotateY(0) translateX(0%);
}
.min-menu-cat{
	color: white;
	position: relative;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: auto;
	overflow-x: hidden;
	pointer-events: auto;
}
.min-menu-cat-item{
	//opacity: 0;
	height: 220px;

	&:hover{
		transform: scale(1.1);
	}
	@for $i from 0 through 7 {
		&:nth-child(#{$i}){
			transition: all 0.5s ease-in-out 0.5s;
		}
	}
	padding: 30px 0px 40px;
	text-align: center;
	color: white;
	font-size: 20px;
	opacity: 0;
	&:nth-child(3n+1){color: $color-1;}
	&:nth-child(3n+2){color: $color-2;}
	&:nth-child(3n+3){color: $color-3;}
	//&:nth-child(2n+1){ transform: translate3d(-100%, -50%, 0); }
	//&:nth-child(2n+2){ transform: translate3d(100%, -50%, 0);; }

	i{
		font-size: 100px;
	}
}
.min-menu-logo{
	position: fixed;
	top: 20px;
	left: 40px;
	z-index: 1;
	img{
		width: 50px;
	}
}

input.hamburger:checked ~ label > i{
 	&:before, &:after{
 		//background-color: white;
 	}
}
input.hamburger:checked ~ label{
	close, open{
		color: black;
	}
}
input.hamburger:checked ~ .drawer-list{
	hr{visibility: visible;}
	.min-menu-cat-item{
 		opacity: 1;
 	}
}




// MODAL
.modal-dialog{
		width: 400px;
   // margin: 50px 50wv;
		@media only screen and (max-width: 991px){
			width: 75%;
			margin: 50px auto;
			margin-top: 25%;
			margin-bottom: 5%;
		}
		@media only screen and (max-width: 767px){
			width: 90%;
			margin: 50px auto;
			margin-top: 25%;
			margin-bottom: 5%;
		}

	
	.btn{
		background-color: transparent;
		position: relative;
		float: right;
		display: block;
		color: black;
		width: 60px;
		height: 50px;
		right: -1px;
    top: -1px;
    z-index: 1;
    border-radius: 0 5px;
  	&:active{
  		outline: none;
			box-shadow: inset 0 0 8px;
		}

	}

	.icon-bar{
		background-color: white;
		width: 30px;
		display: inline-block;
    height: 2px;
   	&:nth-child(1){
   		transform: rotate(-135deg) translate(0, 4px);
   	}
   	&:nth-child(2){
   		transform: rotate(135deg) translate(20px, 24px);
   		
   	}

	}
}



.modal-content{
	background: black;
	color: white;
}
.modal-body{
	margin-top: 30px;
	@extend .clearfix;
	h1, h2{
		line-height: 20px;
		margin: 0 !important;
	}
}
.modal-footer{
	border: 0;
}
.form-footer{
	margin: 15px 0;
	button{
		padding: 12px 20px;
		margin-left: auto;
		
	}
}

#success-message, #fail-message{
	@extend .clearfix;
	text-align: center;
	line-height: 30px;
  font-weight: 600;
  display: none;
  margin-top: 15px;
 	margin-bottom: 30px;
}
#fail-message{
	color: red;
}
.bid-modal{

	form{
		margin-bottom: 30px;
		label{
			font-size: 0.9em;
			color: $color-1;
		}
		input{
			height: 45px;
			font-size: 1.2em;
		}

		.input{
			width: 100%;
			max-width: none;
			margin: 35px 0 5px 0;
			padding-top: 0.2em;
			padding-bottom: 0;
			//border-radius: 5px;
			input{
				&:focus{
					&~label{
						&:before{
							border-top-color: $color-1;
						}
						span{
							color:$color-1 !important;
						}
					}
				}
			}
			label:before{
				//height: 2em;
				border-top-color: $color-1;
			}
			textarea~label:before{
				height: 4em;
				border-top-color: $color-1;
			}
			

		}

		.textarea{
			display: block;
			margin: 30px 0;
			color: black;
			textarea{
				padding: 0.5em;
				border-top: 2px solid $color-1;
				transition: all 0.3s ease-in-out;
				height: 60px;
				&:focus{
					//height: 60px;
				}
			}
			*{
				width: 100%;
				&:focus{
					outline: none;
				}
			}
		}//textarea
		.btn-def{
			margin-top: 30px;
			margin-bottom: 15px;
			border-radius: 0;
		}
		.input__field{
			color: black;
		}
		.input__label--jiro{
			&:after{
				background: white;
			}
		}
		

	}

	.modal-content{
		color: $color-1;
		margin-top: 15px;

		@media only screen and (max-width: 991px){
		width: 100%;
		}
		
		@media only screen and (max-width: 767px){

		}


	}
	.modal-body{
		padding: 0 30px;
		@extend .clearfix;
	}

}

.pre-box{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99999;
  //background: black;
  opacity: 1;
  margin: auto;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  .box-content{
  	transition: all 0.5s ease-in-out;
  	transform: scale(1.2);
  	opacity: 0;
  }
	.box-part-1, .box-part-2{
		width: 100%;
		height: 100%;
		top: 0;
		position: absolute;
		left: 0;
		background: $color-2;
		transition: all 0.5s ease-in-out;
	}
	.box-part-1{
		transform: translate(-100%, -100%);
	}
	.box-part-2{
		transform: translate(100%, 100%);
	}
	&.in{
		.box-content{
			transform: none;
			opacity: 1;
		}
		[class*="box-part"]{
			transform: none;
		}
	}
}
// PRELODER
.preloader{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99999;
  background: black;
  opacity: 1;
  margin: auto;
  //transition: all 1s ease-in-out;
  display: flex;
  display: none;
  align-items: center;
  justify-content: center;
  color: white;
	//display: none;
  img{
  	width: 100%;
  	//opacity: 0;
  	transition: all 0.3s ease-in-out;
  	&:nth-child(2){
  		opacity: 0.1;
  		//filter: blur(2px);
  		transform: matrix(1, 0, 0, -1, 0, 0) scaleY(1);
  	}
  }
	.loader{
		transform: scale(0.5);
		span{
			text-align: center;
			display: block;
		}
		.img-content{
			position: relative;
			width: 400px;
			//padding-bottom: 35px;
			//display: none;
		}
		.percent{
			font-size: 30px;
			margin-top: 12vh;
			padding-left: 10px;
			font-weight: 700;
		}
		svg{
			width: 450px;
			height: 450px;
			left: 50%;
			top: 50%;
			margin-top: -225px;
			margin-left: -225px;
			circle{
				transition: all 0.225s ease-in-out;
				stroke-dashoffset: 0;
				stroke-dasharray: 0;
				fill: transparent;
				stroke: white;
				stroke-width: 0px;
				r: 200;
				cx: 225;
				cy: 225;
			}
			position: absolute;
		}
	}

}





// BREADCRUMP

.breadcrumb{
	background: transparent;
	&, a, .active{ 
		color: rgba(white, 0.5);
		text-transform: uppercase;
		transition: all 0.3s ease-in;
		font-weight: 500;
		font-size: em(16, 16);
		a:hover{
			letter-spacing: 1px;
			text-decoration: none;
			color: white;
		}
	}
	& > li + li:before{

		color: rgba(white, 0.4);
		font-family: FontAwesome;
		content: "\f0da";
		margin:0  15px;
	}
	li{

	}
}



/*
										 --- CONTENT ---
*/


h1{
	position: relative;
	font-weight: 700;
	font-size: em(30, 16);
	text-transform: uppercase;
	padding-bottom: 10px;
	text-align: center;
	&.center{
		text-align: center;
	}
}
h1[data-flicker], h2[data-flicker]{
	&:before{
		@extend .claf;
		opacity: 0.08;
		top: -50%;
    left: -15%;
		content: attr(data-flicker);
	}
}
h1:before{font-size: 1.8em;}
h2:before{font-size: 1.5em;}
h3:before{font-size: 1.3em;}
h2{
	font-size: em(30, 16);
}
h3{
	//color: $color-1;
	text-transform: uppercase;
	font-size: em(22, 16);
	font-weight: 600;

}
h4{
	text-transform: uppercase;
	font-size: em(18, 16);
	font-weight: 700;
}
h5{
	font-size: inherit;
}
h1, h2, h3, h4{
	margin-top: 10px;
	margin-bottom: 10px;
	
}
h1, h2, h3, h4, h5{
}
p{
	font-size: em(15, 16);
	@media (min-width: 992px ){
		font-size: em(14, 16);
	}
}
blockquote{
	padding: 0 15px 0 35px;
	border-left: 8px solid;
	h3{
		font-weight: 700;
		line-height: 100%;
		padding: 0;
		margin: 0;
	}
	p{
		font-weight: 600;
		font-size: 0.8em;
	}
}

main{
	overflow: hidden;
	position: relative;
	color: white;
	height: 100vh;
	//transition: all 0.3s ease-in-out;
	p{
		line-height: 170%;
	}

}


.flex-align-center{
	display: flex;
	align-self: center;
	align-items: center;
	align-content: center;
}
.flex-box{

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex-flow: row wrap;
	.box{
		display: block;
		//text-align: center;
		justify-content: center;
		align-items: center;
		//display: flex;
		flex: 4 4;

	}
	@media only screen and ( min-width: 1200px ){
		.box{
			flex-basis: 20%;
		}
	}
	@media only screen and ( max-width: 1199px ){
		.box{
			flex-basis: 20%;
		}
	}
	@media only screen and ( max-width: 991px ){
		.box{
			flex-basis: 50%;
		}
	}

	@media only screen and ( max-width: 767px ){
		.box{
			flex-basis: 100%;
		}
	}

}
.flex-center{
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
}




.cover{
	position: absolute;
}

.full-w{
	width: 100vw;
}
.full-h{
	height: 100vw;
}
















//test

.bg-lines{
	 //display: none !important;
}


.bg-page{

	width: 100vw;
	height: 100vh;
	position: absolute;
	text-align: center;
	.container{
		height: 100vh;
		position: relative;
	}
	.layer{
		position: absolute;
	}
	.bg-img{
		transition: all 1s cubic-bezier(0.16, 1.4, 0.55, 1.04);
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		width: 100vw;
		height: 100vh;
		img{
	    width: 100vw;
		}
	}
	.bg-shadow{
		position: absolute;
		background-color: rgba($color-2, 0.4);
		width: 100vw;
		height: 100vh;
	}
	.bg-wall{
		background: linear-gradient(45deg, darken($color-2, 5%) 0%,$color-2 33%,$color-2 80%,$color-2 100%);
		position: absolute;
		width: 35vw;
		height: 100vh;
	}
}
.bg-svg{
	width: 100vw;
	pointer-events: none;
	//z-index: 1;
	height: 100vh;
	position: absolute;
	text-align: center;
	.container{
		height: 100vh;
		position: relative;
	}
}
.bg-lines{
	pointer-events: none;
	//z-index: 1000;
	//position: absolute;
	.svg-line{
    //width: 10px;
    position: absolute;
    height: 100%;
    width: 95px;
    line{
    	stroke: white;
    	stroke-opacity: 0.3;
	    stroke-width: 2px;
    }
	}
	&.in{
		.line-left{animation: bgLineInReverse 6s ease-in-out 1;}
		.line-center{animation: bgLineIn 6s ease-in-out 1;}
		.line-right{animation: bgLineInReverse 8s ease-in-out 1;}

		.svg-line{
			stroke-dasharray: 200%;
    	stroke-dashoffset: 50%;
		}

	}
	&.out{
		.line-left{animation: bgLineOutReverse 3s ease-in-out 1;}
		.line-center{animation: bgLineOut 4s ease-in-out 1;}
		.line-right{animation: bgLineOutReverse 3s ease-in-out 1;}

		.svg-line{
			stroke-dasharray: 200%;
    	stroke-dashoffset: 200%;
		}
	}

  .line-left{
  	left: 0;
  	animation: bgLine 3s ease-in-out 1 1s;
  }
  .line-center{
  	left: calc(50% - 47.5px );
  	line{stroke-width: 1px;}
  	//animation: bgLineReverse 60s ease-in-out infinite;
  }
  .line-right{
  	//animation: bgLineReverse 60s ease-in-out infinite 1s;
  	stroke-dasharray: 200%;
    stroke-dashoffset: 50%;
  	right: 0;
  }
}






/* ---- .dot-circles ---- */

.dot-circles{
	
	.dot-circle{
    width: 16px;
    height: 12px;
    overflow: visible;
    margin-left: -10px;
    stroke: white;
    stroke-width: 4px;
    fill: transparent;
		
	}
	.dot-circle:last-child{
		width: 75px;
		circle:nth-child(1){
			stroke-width: 10px;
		}
		circle:nth-child(2){
			stroke-width: 2px;
		}
	}
	.cirlce-skin{
		stroke-dasharray: 156;
    stroke-dashoffset: 0;
	}
	@media (min-width: 991px) {
		position: absolute;
		margin-left: 15px;
    margin-top: -2px;
	}
}


#sections{

	position: relative;
	transition: all 0.75s $easeQua;
	perspective: 100vw;

	& > div{
		transition: opacity 0.4s $easeQua 0.2s,
								transform 0.6s $easeQua 0s;
		transform: scale(1);
		opacity: 1;
		&.in{
			opacity: 0;
			transform: scale(0.5);
		}
		&.out{
			transform: scale(1);	
		}
	}
	&.menuopen{
		
	}
}
.menu-switch{
	transition: all 0.5s ease-in-out;
	&.open{
		perspective-origin: 0 0 !important;
		//transform: rotateY(75deg) translateX(-20%) !important;	
		transform: translate(-20%, -25%) scale(0.6) !important;	

		//transform: rotateY(180deg);
	}
}









.main-content{
	width: 100%;
	position: relative;
	height: 100vh;
	@media (max-width:991px){
		height: auto;
	}
}
.middle-tab{
	display: table-cell;
  height: 100vh;
  vertical-align: middle;
  width: 100vw;
}




@keyframes bgWall {
	from {
		width: 0vw;
	}
}
@keyframes bgShadow {
	from {
		background-color: $color-2;
	}
	5%{
		background-color: $color-2;	
	}
}

@keyframes textLSpacing{
	from{
		transform: scaleY(0.85) translate3d(0, -50%, 0);
		opacity: 0;
		letter-spacing: 8px;
	}
}

@keyframes dotCircle{
	from{
		margin-left: -30px;
		opacity: 0;
		    transform: translate3d(400%, 400%, 0);
	}
}

@keyframes dotCircleSkin{
	from{
		stroke-width: 5px;
    stroke-dasharray: 156;
    stroke-dashoffset: 156;
    //stroke: $color-1;
	}
	10%{
    stroke-dasharray: 156;
    stroke-dashoffset: 156;
	}
	to{
		stroke-dasharray: 156;
		stroke-dashoffset: 0;
	}
}
@keyframes dotCircleCore{
	from{
		stroke-width: 2px;
	}
	10%{
		stroke-width: 2px;
	}
	60%{
		stroke-width: 30px;
		fill: $color-1;
	}
	to{
		stroke-width: 10px;
	}
}








// ABOUT
.about{
	[class*="pie"]{
  	height: 80vh;
  }
  @media (max-width: 991px){
  	[class*="pie"]{
  		height: auto;
  		display: block;
  		width: 100%;
  	}
  }
  .bg-img{
  	transition: all 2.4s $easeQua;
  	background-position-x: 100px;
  }
	.main-content{
		transition: all 0.5s cubic-bezier(0.16, 1.4, 0.55, 1.04);
	}
	.text-l-spacing{
		//p{transition: all 0.5s ease-in-out;}
	}
	visibility: hidden;
	&.active{
		visibility: visible;
		.bg-img{
			background-position-x: 0px;
		}
		.bg-wall{
			animation: bgWall 1.8s ease-in-out 1;
		}
		.bg-shadow{
			animation: bgShadow 1.8s ease-in-out 1;
		}
		.text-l-spacing{
			p{
				animation: textLSpacing 1.8s ease-in-out 1;
			}
		}
		.dot-circles{
			//animation: textLSpacing 2.6s ease-in-out 1;
		}
		.dot-circle{
			animation: dotCircle 1.2s cubic-bezier(0.46, 0.03, 0.52, 0.96) 1;
			.circle-core{
				animation: dotCircleCore 1.8s linear 1;
			}
			.circle-skin{
				animation: dotCircleSkin 1.7s linear 1;
			}
		}
		@media ( max-width: 991px) {
			.dot-circle{
				animation: none;
			}
		}
	}


}
.about-content{

}
.text-rotate{
	font-size: 2em;
	@media (min-width: 992px){
		span{
			font-size: 0.5em;
			text-transform: uppercase;
			writing-mode: vertical-rl;
			transform: scaleY(-1) scaleX(-1);
		}	
	}
}
.text-l-spacing{
	font-size: em(30, 15);
  letter-spacing: 7px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 175%;
  p{
  	display: inline-block;
  }
}
.social{
	li{
		margin: 5px;
		width: 25px;
		margin: 15px;
		margin-left: auto;
		text-align: right;
		&:hover{
			i:before{
				color: $color-1;
			}
		}
	}
	i{
		font-size: 25px;
		&:before{
			font-weight: 300;
			transition: all 0.3s ease-in-out;
			color: rgba(white, 0.8);
		}
	}
	img{
		width: 25px;
	}
	@media (max-width: 991px){
		li{
			width: none;
			display: inline-block;
		}
  }
}










// PROJECTS
.projects{
	h4{
		font-family: $font-family-2;
	}
	p{
		font-weight: 500;
	}
	.grid-img:after {
	  content: '';
	  display: block;
	  clear: both;
	}
	.grid-img{
		overflow: auto;
		height: 75vh;
		//padding: 0 15px;
		margin: 120px 0;
	}
	.grid-img-sizer, .grid-img-item {
	  width: (100/4)+%;
		&.active{
			width: (100/2)+%;
		}
	}
	.grid-img-item {
	  float: left;
	}

	.grid-img-item img {
	  display: block;
	  //padding: 3px;
	  max-width: 100%;
	}

	@media (max-width:991px){
		.grid-img{
			height: auto;
			margin: auto auto;
		}
		.grid-img-item img {
			padding: 3px;
		}
		.grid-img-sizer, .grid-img-item {
		  width: (100/2)+%;
			&.active{
				width: (100/1)+%;
			}
		}
	}

	@media (max-width:1199px){
		p{font-size: 0.85em;}
	}
}


.projects-content{
	figure{
		position: relative;
		overflow: hidden;
		a:focus{
			outline: none;
		}
		&:hover{
			.project-hover{
				background-color: rgba( lighten($color_2, 5%), 0.8);
				opacity: 1;
				transform: unset;
			}
		}

	}
	img{
		width: 100%;
	}
}
.project-hover{
	text-align: center;
	padding: 5% 12%;
	padding-top: 5px;
	transition: all 0.3s ease-in-out;
	position: absolute;
	overflow: hidden;
	background-color: rgba(black, 0.0);
	width: 100%;
	height: 100%;
	top: 0;
	display: flex;
	align-items: center;
	opacity: 0;
	transform: scale(1.3);
}







@keyframes bgService-1{
  from {
  	background-position-x: 10vw;
  }
  to{
  
  }
}
@keyframes bgService-2{
  from {
  	background-position-x: -30vw;
  }
  to{
  
  }
}

.services{
	.bg-svg{
		z-index: 1;
	}
	.bg-page{
		text-align: center;
		display: flex;
		@media (max-width:991px){
			flex-flow: wrap column;
		}
		.bg-img{
			position: absolute;
			width: 100%;
		}
		[class*="bg-service"]{
		  //overflow: hidden;
		  //width: 33vw;
		 //height: 100%;
		 position: relative; 

		 	justify-content: center;
			align-items: center;
			flex-basis: 100%;
			flex: 1 1;
		}


	}

	&.active{
		.bg-service-1{
			.bg-img{
				animation: bgService-1 2s 1;
			}
		}
		.bg-service-2{
			.bg-img{
				animation: bgService-2 2s 1;
			}
		}

	}

}
.services-content{
	text-align: center;
	display: flex;
	@media (max-width:991px){
		flex-flow: wrap column;
	}
	.services-item{
		padding: 15px 30px;
		justify-content: center;
		align-items: center;
		flex-basis: 100%;
		flex: 1 1;
	}
}

.services-item{

	.desc-content{
		font-size: 2em;
		font-weight: 600;
		height: 100%;
	}
	.btn-def{
		margin: 30px 0;
		position: relative;
	}
	@media (min-width:992px){
		.desc-content{

		}
		.btn-def{		bottom: 100px;}
	}
}












.news{

	@media ( max-width: 991px ){
		.img-content, .desc-content{
			width: 100%;
			float: left;
		}
	}
}
.news-content{
	margin-top: 20px;
	figure{
		height: auto;
		//height: 170px;
		display: inline-block;
		margin-top: 15px 0;
	}
	.desc-content{
		padding: 0 10px;
		p, h3, h4{
			font-size: 0.9em;
		}
		.date{
			float: right;
		}
		h3, h4, h5{
			display: inline-block;
		}
	}
	.link-content{
		padding: 10px 0;
		color: $color-1;
	}
	.img-content{
		img{
			width: 170px;
			//height: 140px;
		}
	}
	@media (min-width: 992px){
		figure{
			margin: 15px 0;
			height: 170px;
		}
	}
	@media (max-width: 991px){
		.date{
			margin: 15px 0;
			display: block;
			width: 100%;
		}
		.desc-content{
			h4, h3{
				display: block;
			}
		}
		.img-content{	
			img{
				width: 50vw;
				padding: 15px;
				margin: 10px;
			}
		}
		.link-content{
			a{
				font-size: 1.3em;
				display: block;
				padding: 15px;
			}
		}
		figure{
			margin: 30px 0;
			&:nth-child(1){
				margin-top: 100px;
			}
		}
	}
	@media (max-width: 767px) {
		.img-content{
			img{
				width: 75vw;}
		}
	}
}

























.cooperation{
	.bg-img{
		opacity: 0.2;
	}
	@media (min-width: 992px){		
		.bg-img{
			width: 50vw;
			margin-left: auto;
			position: relative;
			//top: 13vh;	
			margin-top: 100px;
    	height: 75vh;
			opacity: 1;
			margin-right: -15px;
		}
	}

}
.cooperation-content{
	margin-top: 50px;
	.btn-def{
		border-radius: 0;
		width: 180px;
		margin: 30px 0;
	}
}
.cooperation-img{
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  display: block;
  height: 100%;
  right: 0;
  padding: 0 15px;
  top: 0;
  img{
  	max-width: none;
  	width: 50vw;
  }
}




























.contacts{
	.bg-img{
		//opacity: 0.2;
	}
	.map-content{
		position: relative;
		overflow: hidden;
		width: 100%;
		display: block;
		color: black;
	}
	@media (max-width: 991px){
		.middle-tab{
			height: auto;
		}
		.bg-page, .map-content{
			position: relative;
			height: 400px;
		}
	}
	@media (min-width: 992px){		
		.bg-wall{
	    width: 50vw;
	    margin-left: 50vw;
	   	background-image: url(../img/bg/contacts-wall.jpg);
	    background-repeat: no-repeat;
	    background-size: cover;
		}
		.map-content{
			width: 50%;
			margin-top: 115px;
    	height: 75vh;
			z-index: 3;
			position: absolute;
		}
	}

}
.contacts-content{
	.contacts-info{
		p{
			line-height: 200%;
			font-size: 1em;
		}
	}
}
.contacts-img{
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  display: block;
  height: 100%;
  right: 0;
  padding: 0 15px;
  top: 0;
  img{
  	max-width: none;
  	width: 50vw;
  }
}






















.hr-shadow{
  box-shadow: 0px 14px 50px 12px #070d28;
  z-index: 1;
  position: relative;
}
.article-content{
	overflow-y: auto;
	overflow-x: hidden;
	height: 70vh;
	margin-top: 6vh;
	p{
		line-height: 180%;
		font-size: em(15, 16);
	}
	.img-content{
		//text-align: center;
	}
	@media (max-width: 991px) {
		height: auto;
	}
}



















/*
										 --- FOOTER ---
*/


#footer{
	bottom: 0;
	z-index: 3;
	right: 0;
	left: 0;
	font-family: $font-family-1;
	font-weight: 500;
	position: absolute;
	color: white;
	padding: 10px 0;
	//min-height: 100px;
	font-weight: 700;
	pointer-events: none;
	[class^="f"]:not(.f-menu-list){
		margin-top: 10px;
		margin-bottom: 10px;
	}
	@media (max-width:991px){
		position: relative;
		border-top: 1px solid $color-1;
	}
}
.f-page-num{
	letter-spacing: 1px;
	padding: 0;
	pointer-events: auto;
}
.f-nav-circle{
	text-align: center;
	li{
		pointer-events: auto;	
		margin: 0 4px;
		display: inline-block;
		border-radius: 50%;
		background-color: white;
		width: 12px;
		height: 12px;
		transition: all 0.3s ease-in-out;
		&.active, &.router-link-active, &:hover, &:focus{
			background-color: $color-1;
		}
		a{
			display: inline-block;
			width: 100%;
			height: 100%;
			top: -2px;
			position: relative;
		}
	}
}
.f-nav-line{
	text-align: center;
	span{
    //width: 50px;
    height: 25px;
    border: 2px solid rgba(white, 0.8);
    border-radius: 12px;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    margin: auto;
    i{
    	width: 6px;
    	height: 5px;
    	border-radius: 50%;
    	background-color: white;
    	display: inline-block;
    	vertical-align: middle;
    	margin-bottom: 1px;
    	position: relative;
    	transition: all 0.0s ease 0.8s;
    	//left: 10%;
    	margin-left: -3px;
    	visibility: hidden;
    	&.router-link-active{
    		visibility: visible;
    	}
    }
	}
}
.f-soc-contact{
		font-size: 1.5em;
		letter-spacing: 1px;
		pointer-events: auto;
		&:hover{
			i:before{
				color: lighten($color-1, 20%);
			}
		}
		i{
			font-size: 25px;
			vertical-align: middle;
			&:before{
				transition: all 1s ease-in-out;
			}
		}
		img{
			width: 30px;
		}
}
.f-lang{
	padding: 5px 0;
	pointer-events: auto;
	span.active{
		color: $color-1;
	}
}
.copyright, .dev{
	pointer-events: auto;
	font-weight: normal;
	padding: 0;
	line-height: 12px;
}
.copyright{

}
.dev{
	font{transition: all 0.8s $easeQua;}
	em font{
		letter-spacing: 1px;	
	}
	a.link{
		font-size: 0.9em;
	}
	a:hover{
		em font{
			letter-spacing: 0px;
			color: lighten($color-1, 20%);
		}
	 	font{
			color: lighten($color-1, 50%);
			letter-spacing: 1px;
		}
	}
}




/*
										 --- OTHER ---
*/





.fancybox-bg{
	background: rgba(black, 1);
	//opacity: 1 !important;

}

.fancybox-infobar__body, .fancybox-button{

}
.fancybox-button:hover:not([disabled]){
	background-color: $color-1;
}

//FLICKITY
.flickity-enabled{
	a{
		outline: none;
	}
}
.flickity-prev-next-button{
	background: transparent;
	&:hover{
		.arrow{
			fill: white;
		}
	}
	.arrow{
		fill: #392316;
	}
}



















@import "_media.scss"; //------ 	END 	------------------------